.schedule-container{
	grid-area: schedule;
	background: linear-gradient(rgb(14, 9, 90), rgb(120, 118, 233));
  display: grid;
  min-height: 500px;
	grid-template-columns: var(--container-columns-small);
  grid-template-rows: 1fr;
}

.schedule-content {
	grid-column: 2 / 3;
}

@media only screen and (min-width: 1044px) {
	.schedule-container {
		grid-template-columns: var(--container-columns-large);
	}

	.schedule-content {
		grid-column: 3 / 4;
	}
}