body{
	background-color: var(--blue-primary);
}

.main{

	border-radius: 7px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	margin: auto;
    border: 5px solid #ff1493;
    padding: 10px;
    max-width: 500px;
    width: calc(100vw - 40px);
    box-shadow: 5px 7px #000000;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	
}
input{
	margin-bottom: 15px;
	margin: 5px;
	width: 300px;
	border: none;
	border-bottom: .1em solid rgba(0, 0, 0, .75);
	max-width: 100%;
}
.switch{
	display: flex;
	margin-bottom: 10px; 
}

.switch button{
	color: black;
	border-radius: 10px; 
	margin-right: 20px;
	margin-bottom: 10px;
    width: 30%;
	text-align: center;
	box-shadow: 4px 4px #000000;
	font-size: 15px;
	margin-left: 20px;
	background-color: rgb(221,221,221);
	
	border-radius: 5px;
	border-color: rgba(0,0,0,.5);
}
