.main{

	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	margin: auto;
    border: 3px solid #ff9ee5;
    padding: 10px;
    max-width: 500px;
    width: calc(100vw - 40px);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
}
input{
	background-color: lightgrey;
	margin-bottom: 15px;
}
.switch{
	display: inline-block;
}
.change{
	margin-left: 30px;
	background-color: rgb(221,221,221);
	margin-bottom: 20px;
	border-radius: 5px;
	border-color: rgba(0,0,0,.5);
}
