.register {
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  flex-direction: column;
}

.signup-container {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 400px;
  margin: auto;
  padding: 20px;
  justify-content: space-between;
  background-color: pink;
  border-radius: 4px;
}

.register-header {
  text-align: center;
  margin: 0;
  font-size: 30pt;
}

.signup-container form {
  display: flex;
  flex-direction: column;
}

.signup-container form input {
  font-size: 16pt;
  text-align: center;
  padding: .5em;
  margin: .3em;
  border-radius: 10px;
}