html,body {
	margin:0;
	padding: 0;
}

.app {
  display: grid;
  min-height: 100vh;
  min-width: 100%;
  color: white;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    'nav'
    'banner'
    'about'
    'schedule'
    'sponsors'
    'faq'
    'footer';
}

.bg1 {
  grid-row-start: 3;
  background: url('../../assets/Gradient_1.png');
  background-size: contain;
}

:root {
  --blue-primary: rgb(3, 4, 69);
  --blue-primary-light: rgb(48, 40, 148);
  --blue-secondary: rgb(120, 118, 233);
  --pink-primary: rgb(256, 30, 142);
  --base-gutter-size: 10px;
  --container-columns-small: var(--base-gutter-size) 1fr var(--base-gutter-size);
  --container-columns-large: var(--base-gutter-size) 1fr 1024px 1fr var(--base-gutter-size);
}