.about-container {
	grid-area: about;
	background: linear-gradient(var(--blue-primary) 99%, transparent);
  display: grid;
	grid-template-columns: var(--container-columns-small);
  grid-template-rows: 1fr;
  padding: 4em 0;
}

.about-content-container {
  grid-column: 2 / 3;
  display: flex;
}

.about-content-container h1 {
  font-size: 40pt;
}

.about-content-container p {
  font-size: 16pt;
}

.about-image {
  min-height: 100%;
  width: 50%;
  border: 2px solid black;
}

.about-text {
  width: 50%;
  color: white;
}

@media only screen and (min-width: 1044px) {
	.about-container {
		grid-template-columns: var(--container-columns-large);
	}

	.about-content-container {
		grid-column: 3 / 4;
	}
}
