.footer {
  grid-area: footer;
  background-color: rgb(3, 4, 69);
  min-width: 100vw;
  min-height: 150px;
  max-height: 320px;
  display: flex;
  flex-direction: row;
}

/*two refers to the second div flex element*/
.two {
  justify-content: center;
  align-self: center;
  text-align: center;
  margin: 0 auto 10px auto;
}

.two button {
  margin-bottom: 20px;
  background-color: #ff1493;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block flex;
  font-size: 12pt;
  justify-content: center;
  align-items: center;
  width: 150px;
  border-radius: 3px;
}

.two button:hover {
  background-color: rgb(48, 40, 148);
}

/*allows responsive footer, could not place div .two container to next row when
screen size lowers too much for better look*/

.two i {
  color: white;
  min-width: 10%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 1vw;
}

.three p {
  font-family: 'Kanit', sans-serif;
}

.mlhconduct {
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
}

.b1 {
  margin-right: 10px;
}

.two button {
  margin-top: 10px;
}

.end {
  background-color: black;
}