.footer {
    grid-area: footer;
    background-color: rgb(12, 8, 70);
    color: white;
    height: 4em;
    display: flex;
    align-items: center;
    padding: 0 var(--base-gutter-size) 0 var(--base-gutter-size);
}