
.faq-elem {
 
  flex: 1 1 300px;
  background-color: var(--blue-primary);
  min-height: 200px;
  margin: 6px 6px;
  box-shadow: 5px 7px #000000;
}

.faq-elem h3 {
  color: white;
  text-align: center;
  font-weight: 300;
  background-color: var(--blue-primary-light);
  padding: 20px 0;
  margin: 0;
}

.faq-elem p {
  text-align: center;
  color: white;
  padding: 10px;
}

.img{
  float: right;
  padding: 10px;
}