.dropdown-container {
  display: flex;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(158, 236, 255);
}

.dropdown a {
  padding: 10px 0;
}

.dropdown a:first-child {
  margin-top: auto;
}

.burger-button {
  margin-right: auto;
}

.menu-close-button {
  margin: auto 0 50px 0;
}