nav {
  grid-area: nav;
  z-index: 100;
  background-color: whitesmoke;
  color: #be41ae;
  height: 4em;
  display: flex;
  align-items: stretch;
}

ul {
  list-style: none;
}
.navbar {
  border: 1px solid black;
  margin: 0;
}

@media only screen and (max-width: 479px){
  .navbar {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    padding: 0;
    width: 100%;
    background-color: whitesmoke;
  }
}

/* nav bar item rules */
.navbar li {
  cursor: pointer;
}
.navbar-item {
  border: 1px solid black;
  width: 5em;
  text-align: center;
  font-size: 14pt;
  line-height: 3.2em;
}
.navbar a {
  color: #be41ae;
}

.logo {
  display: none;
  font-size: 24pt;
  align-self: center;
  margin-right: auto;
  padding: 0 0 0 10px;
}

nav a {
  text-decoration: none;
  color: #f37de3;
}

.burger-button {
  margin-right: auto;
}

@media only screen and (min-width: 480px) {
  nav {
    justify-content: center;
    padding: 0px 0px;
  }
  .navbar {
    display: flex;
    align-items: stretch;
    padding: 0 10px 0 0;
  }
  .logo {
    display: inherit;
  }
  .burger-button {
    display: none;
  }
  .menu-close-button {
    display: none;
  }
}