nav {
  grid-area: nav;
  z-index: 100;
  background-color: whitesmoke;
  height: 4em;
  display: flex;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 479px) {
  .navbar {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
    width: 95vw;
    height: 100%;
    background-color: rgb(158, 236, 255);
  }
  .navbar-item:first-child {
    margin-top: auto;
  }
}

/* nav bar item rules */

.navbar li {
  cursor: pointer;
}

.navbar-item {
  border: 1px solid black;
  width: 5em;
  text-align: center;
  font-size: 14pt;
  line-height: 3.2em;
}

nav a {
  text-decoration: none;
  color: #f37de3;
}

@media only screen and (min-width: 480px) {
  nav {
    justify-content: center;
    padding: 0px 0px;
  }
  .navbar {
    display: flex;
    align-items: stretch;
    padding: 0 10px 0 0;
  }
  .logo {
    display: inherit;
  }
  .burger-button {
    display: none;
  }
  .menu-close-button {
    display: none;
  }
}