html,body{
  /* height: 100%;
    margin: 0px;
    padding: 0px; */
    overflow-x: hidden; 
}

nav {
  grid-area: nav;
  z-index: 100;
  background-color: var(--pink-primary);
  height: var(--nav-height);
  display: flex;
  position: fixed;
  width: 100vw;
 
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: #f37de3;
}