nav {
  grid-area: nav;
  z-index: 100;
  background-color: var(--pink-primary);
  height: 4em;
  display: flex;
  position: fixed;
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: #f37de3;
}