.banner {  /* make width and height responsive */
  grid-area: banner;
  height: 700px;
  display: flex;
  max-width: 100vw;
}

.banner-text {  /* make width and height responsive */
  width: 600px;
  height: 75%;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: white;
}

.banner-text img { /* make width and height responsive */
  display: block;
  margin: 0 auto;
  width: 600px;
}

.banner-text p{
  font-size: 14pt;
  text-align:center;
}

.banner-text .date{
  font-weight: bold;
}

.banner-text button{
  font-size: 12pt;
  background-color: #ff1493;
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: rgba(0,0,0,.5);
  color: white;
  display: inline-block;
  border: none;
  margin-right: 5px;
  margin-left: 10px;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  box-shadow: 4px 4px #000000;
}

.banner-text button:hover{
  transition: 0.2s ease;
  background-color:  var(--blue-primary);
}

.banner-buttons {  /* make height responsive */
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  min-height: 175px;
}

@media only screen and (min-width: 840px) {
  .banner-buttons {
    flex-direction: row;
  }

  .banner-text button {
    font-size: 14pt;
    width: 250px;
  }
}