.banner {
  background: linear-gradient(transparent 98%, rgba(12, 8, 70, 1)), url('../../assets/Miami_Beach_Gradient_Swoosh.png') center;
  background-size: cover;
  grid-area: banner;
  height: 700px;
  display: flex;
}

.banner-text {
  min-height: 50%;
  width: 50%;
  margin-top: auto;
  margin-left: auto;
  color: white;
}

.banner-text h1{
  font-size: 60pt;
  margin: 0;
}

.banner-text p{
  font-size: 14pt;
}