.sponsors-container {
    grid-area: sponsors;
    background: linear-gradient(rgb(120, 118, 233) 0, rgb(120, 118, 233) 10%, rgb(235, 42, 177));
    display: grid;
    grid-template-columns: var(--container-columns-small);
    grid-template-rows: 1fr;
    min-height: 700px;
}

.sponsors-content {
    grid-column: 2 / 3;
}

@media only screen and (min-width: 1044px) {
    .sponsors-container {
        grid-template-columns: var(--container-columns-large);
    }
    .sponsors-content {
        grid-column: 3 / 4;
    }
}
